[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "janus/vim-tmux-focus-events"]
	path = janus/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
