[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "janus/vim-tmux-focus-events"]
	path = janus/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "janus/dash.vim"]
	path = janus/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "docker-dashboard"]
	path = docker-dashboard
	url = git@github.com:stedwick/docker-dashboard.git
[submodule "kube-tmux"]
	path = kube-tmux
	url = https://github.com/jonmosco/kube-tmux.git
